.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

/Project1/.vs/
/Project1/Project1/
/Project1/x64

/Project8/.vs/
/Project8/Project8/
/Project8/x64

/Project10/.vs/
/Project10/Project10/
/Project10/x64

/Project11/.vs/
/Project11/Project11/
/Project11/x64